---
import Layout from "../layouts/Layout.astro";
import { sanityClient } from "sanity:client";
import { urlFor } from "../sanity/urlForImage";
import PortableText from "../components/sanity/PortableText.astro";

const home = (
  await sanityClient.fetch('*[_type == "page" && slug.current == "home"]')
)[0];
---

<Layout>
  <div class="w-full flex flex-col items-center justify-center">
    <img
      class="pb-6 w-full"
      src={urlFor(home.image).url()}
      alt="lineup and dates"
    />
    <PortableText class="text-2xl" portableText={home.content} />
  </div>
</Layout>
